.calculator-grid .operator {
  background-color: rgba(169, 165, 165, 0.8);
  transition: 0.3s;
}

.calculator-grid > button {
  cursor: pointer;
  background-color: rgba(203, 197, 197, 0.8);
  outline: none;
  font-size: 2rem;
  border-radius: 4px;
  transition: 0.3s;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 250, 250, 0.7);
  outline: none;
  font-size: 2rem;
  border-radius: 4px;
}
